version: "3.9"

services:
  postgres:
    image: postgis/postgis:15-3.4
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: delivery
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./docs/initdb:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"

  backend:
    build:
      context: ./backend
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    environment:
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/delivery
      NODE_ENV: development

  client:
    build:
      context: ./client-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

  staff:
    build:
      context: ./staff-frontend
    ports:
      - "5174:5174"
    depends_on:
      - backend

volumes:
  pgdata:
